venv2
.venv
venv
.uv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.coverage
.tox
.git
.gitignore
.env.local
.env.*.local
node_modules
.DS_Store
flash_attn*.whl
torch*.whl
torchaudio*.whl
